apiVersion: argoproj.io/v1alpha1
kind: Application
metadata:
  name: argo-app
  namespace: argocd
spec:
  project: default
  source:
    repoURL: https://github.com/Omar-tarek3/TodoList-App.git
    targetRevision: HEAD
    path: k8s 
  destination:
    server: https://kubernetes.default.svc
    namespace: k8-deployment

  syncPolicy:
    automated:
      selfHeal: true
       